<html>
<head>
<title> Fiesta : Merchant Profile</title>
<script src="http://localhost:5000/js/jquery.js"></script>
<link rel="stylesheet" href="http://localhost:5000/css/main.css"media="screen" type="text/css"/> 

<script src="http://localhost:5000/js/all.js"></script>
<style type="text/css">

#labelf {font-family : garamond, times; font-size: 10px }
</style>

</head>
<body>

<h1>Shop details:</h1>

<h2>Partner ID : ${c.doc_id}</h2>
<h2>Store : ${c.store_name}</h2>
<h2>URL : ${c.site_url}</h2>




<div class="sc_footer gep_bold">


    
        <a href="www.rediffmail.com">Home</a> |  
        <a href="www.rediffmail.com">Intro Video</a> |  
        <a href="www.rediffmail.com">How it works?</a> |  
        <a href="www.rediffmail.com">Contact Us</a> | 

	<br/ ><br/>
    
       <span class="gep_font10px">*Padmaj*</span>
    



</div>

</body>
</html>


